/* Imported Fonts
font-family: 'Fira Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/

a, p, h1, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  color: #f4a848;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  background-color: #2c2a25;
}

header {
  font-size: 1.5rem;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1b18;
}

header nav {
  height: 3rem;
}

header nav ul {
  display: flex;
  height: 3rem;
  margin: 0 auto;
}

header nav ul li {
  display: flex;
  align-items: center;
  height: 1rem;
  padding: 16px;
  margin: 0 auto;
  border-radius: 6px;
}

header nav ul li:hover {
  color: #1d1b18;
  background-color: #f4a848;
  cursor: pointer;
}

#page-logo {
  padding: .5em;
}

#page-logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  color: #f4a848;
}

#leading-info {
  padding: 2em;
  text-align: center;
}

#leading-info h1 {
  font-size: 3rem;
}

#menu-section {
  margin: 0 6rem;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.card-list li {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto;
}

.image-wrapper {
  overflow: hidden;
  height: 275px;
}

.image-wrapper img {
  max-width: 100%;
  object-fit: cover;
  margin-top: -50%;
}

.info-card {
  color: #424242;
  font-size: 1.5rem;
  font-weight: 700;
  height: 125px;
  text-align: center;
  background-color: #E7CFB5;
}

.info-card ul {
  display: flex;
  flex-direction: column;
  height: 125px;
}

.info-card ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 62px;
}

.info-card ul li a {
  background-color: #F4A848;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

.info-card a:hover {
  cursor: pointer;
  background-color: #1d1b18;
  color: #F4A848;
}

.food-name {
  /* margin: 0.625rem 0; */
  /* margin-top: 1.125rem; */
}
