body {
  background-color: rgb(248, 241, 255);
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  padding: 32px;
}

header img {
  width: 300px;
}

h1 {
  color: rgb(89, 50, 208);
  font-size: 52px;
}

h2 {
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0px 15px;
}

li {
  padding: 2px 0px;
}

footer {
  text-align: center;
  color: rgb(113, 98, 130);
  font-size: 12px;
}

.bold-text {
  font-weight: bold;
}

.no-link-deco * {
  text-decoration: none;
}

.purple-box {
  margin: 32px auto;
  padding: 32px;
  max-width: 700px;
  font-size: 16px;
  color: rgb(248, 241, 255);
  background-color: rgb(122, 73, 216);
  border-radius: 8px;
}

.yellow-highlight {
  padding: 0px 4px;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 233, 179);
  border-radius: 4px;
}

.yellow-highlight a {
  text-decoration: none;
}

.yellow-button {
  text-align: center;
  margin: 20px auto;
  margin-top: -20px;
  padding: 10px 15px;
  max-width: 200px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(249, 201, 40);
  border-radius: 8px;
}

.yellow-button a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
