body {
  text-align: center;
  margin: 50px;
  font-family: 'Roboto Mono', monospace;
  background-color: #292929;
}

h1 {
  font-weight: 400;
  color: #98cdff;
}

p {
  font-weight: 100;
  color: #534b4b;
}

a {
  color: #e276f8;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#todays-challenge {
  font-weight: 100;
  color: #ffae00;
  font-size: 28px;
}