/* Imported Fonts
font-family: 'Fira Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

header li {
  margin: 0px 8px;
}

header a {
  text-decoration: none;
  color: rgb(255, 251, 0);
  font-size: 20px;
  padding: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

header a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#hero {
  height: 800px;
  background-image: url("/images/ocean.jpeg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(236, 201, 0);
}

#highlights {
  padding: 24px;
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(59, 65, 64);
  margin: 24px 0;
}

#destination-list {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}

.destination p {
  text-align: center;
  font-size: 24px;
  color: rgb(124, 123, 123);
  margin: 20px 0;
  text-transform: uppercase;
}

.destination strong {
  color: rgb(0, 160, 117);
}

.destination img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}
